.mainInfoLocationMapText {
  width: 100%;

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      text-align: start;
      font-size: 1rem;
      padding: 2em 5em;
      color: #4a4339;
    }
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .mainInfoLocationMapText {
    div {
      p {
        padding: 2em 2em;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .mainInfoLocationMapText {
    div {
      p {
        padding: 2em 2em;
        text-align: center;
      }
    }
  }
}
