.mainInfoLocationMapText {
  width: 100%;

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      text-align: start;
      font-size: 1rem;
      padding: 2em 5em;
      color: #4a4339;
    }
  }
}
