.contactMain {
  color: #4a4339;
  background-image: url("./Busko.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
