.graduationTower {
  margin-top: 4em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 100%;
    background-color: white;
    position: relative;

    img {
      width: 85%;
      height: auto;
      border-radius: 15px;
    }
  }

  & div:first-of-type {
    width: 43%;
    height: 100%;
    align-items: start;
    background-color: rgba(201 190 154);
    border-radius: 15px;
    padding: 30px 70px;
    position: relative;
    left: 5%;
    padding-left: 50px;
    z-index: 1;

    h2 {
      margin: 0;
    }
  }

  & div:last-of-type {
    right: 5%;
  }
}

//Phones and tablets

@media screen and (max-width: 1023px) {
  .graduationTower {
    flex-direction: column-reverse;

    div {
      margin-bottom: 4em;
      width: 100%;
    }

    & div:first-of-type {
      width: 100%;
      text-align: center;
    }
  }
}
