.main {
  background-image: url("./Busko-Zdroj.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  position: relative;

  .mainText {
    font-size: 3em;
    text-align: center;
    margin: 0px;
  }

  div {
    display: flex;
    align-items: center;

    p {
      font-size: 2em;
      margin: 0px;
    }
  }

  svg {
    position: absolute;
    bottom: 50px;
  }
}

@media screen and (max-width: 1023px) {
  .main {
    background-attachment: local;
  }
}
