.mainInfoApartmentTitleContainer {
  display: flex;
  justify-content: center;
}

.mainInfoApartmentTitle {
  border-radius: 15px;
  width: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -2px 11px 38px -6px rgba(116, 84, 46, 1);

  & p:first-child {
    font-size: 24px;
    padding-top: 1.5em;
    font-weight: 600;
  }

  & p:last-child {
    padding-bottom: 2em;
    margin: 0px 15%;
  }

  p {
    text-align: center;
    color: #4a4339;
    padding: 1em;
    margin: 0px;
  }

  div {
    background-color: orange;
    width: 4em;
    height: 2px;
  }
}

@media screen and (max-width: 599px) {
  .mainInfoApartmentTitle {
    width: 90%;
  }
}
