.apartmentsGallery {
  background-color: lightgray;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80%;
  }
}

//Tablets

@media screen and (min-width: 599px) and (max-width: 1023px) {
  .apartmentsGallery {
    background-color: lightgray;

    div {
      width: 88%;
    }
  }
}

//Phones

@media screen and (max-width: 599px) {
  .apartmentsGallery {
    background-color: white;

    div {
      width: 95%;
    }
  }
}
