.natureReserve {
  margin-top: 4em;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 100%;
    background-color: white;

    img {
      width: 95%;
      height: 90%;
      padding: 2%;
    }
  }

  & div:first-of-type {
    width: 48%;
    height: 100%;
    background-color: rgb(176, 170, 151);

    p {
      padding: 20px 40px;
    }
  }
}

//Phones and tablets

@media screen and (max-width: 1023px) {
  .natureReserve {
    flex-direction: column-reverse;

    div {
      margin-bottom: 4em;
      width: 100%;
    }

    & div:first-of-type {
      width: 100%;
      text-align: center;
    }
  }
}
