@import "~react-image-gallery/styles/scss/image-gallery.scss";

.galleryBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .txtDiv {
      position: absolute;
      right: 5%;
      top: 25%;
      width: 30%;

      span {
        font-size: 50px;
        color: #4a4339;
        font-weight: 100;
      }

      p {
        line-height: 1.6;
        font-size: 17px;
        font-weight: 400;
        background-color: #b5a183;
        word-spacing: 10px;
        color: white;
        padding: 3rem;
      }

      button {
        z-index: 1;
        position: relative;
        bottom: 35px;
        right: 15px;
        color: #b5a183;
        background-color: white;
        border: 2px solid #b5a183;
        padding: 1.3rem;
        font-size: 25px;
        cursor: pointer;

        svg {
          padding-right: 0.5em;
        }
      }
    }

    .ndtxt {
      top: 7%;
    }
  }

  .gallery2container {
    position: relative;
  }
}

.gallery1 {
  margin-top: 2em;

  .image-gallery-content {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: flex-start;

    :hover {
      color: white;
    }

    .image-gallery-slide-wrapper {
      width: 60%;
    }
  }

  .image-gallery-right-nav {
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 1%;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-gallery-svg {
      width: 40%;
    }
  }

  .image-gallery-left-nav {
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 1%;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-gallery-svg {
      width: 40%;
    }
  }

  .ThumbnailClass {
    height: 15rem;
    width: 15rem;

    :hover {
      cursor: pointer;
    }
  }

  .image-gallery-thumbnail {
    border: none;
  }

  .image-gallery-thumbnail.active,
  .image-gallery-thumbnail:focus {
    border: none;
  }
}

.gallery2 {
  margin-top: 2em;

  .image-gallery-content {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: flex-start;

    :hover {
      color: white;
    }

    .image-gallery-slide-wrapper {
      width: 60%;
    }

    .image-gallery-thumbnails-wrapper {
      display: flex;
      width: 100%;
    }
  }

  .image-gallery-right-nav {
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 1%;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-gallery-svg {
      width: 40%;
    }
  }

  .image-gallery-left-nav {
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 1%;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-gallery-svg {
      width: 40%;
    }
  }

  .ThumbnailClass {
    height: 15rem;
    width: 15rem;

    :hover {
      cursor: pointer;
    }
  }

  .image-gallery-thumbnail {
    border: none;
  }

  .image-gallery-thumbnail.active,
  .image-gallery-thumbnail:focus {
    border: none;
  }
}

.loader {
  margin: 100px;
  width: 50px !important;
  display: grid !important;
  align-items: normal !important;
  aspect-ratio: 1;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  mask: none;
  animation: l26 1s infinite steps(12);
}

.loader,
.loader:before,
.loader:after {
  background: radial-gradient(closest-side at 50% 12.5%, #b5a183 96%, #0000) 50%
      0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #b5a183 96%, #0000) 0 50%/80% 20%
      repeat-x;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {
    transform: rotate(1turn);
  }
}

.visible {
  display: flex;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 1250px) {
  .galleryBox {
    .gallery1container {
      align-items: center;
      flex-direction: column;

      .txtDiv {
        align-items: center;
        position: static;
        width: 100%;

        p {
          width: 80%;
          padding: 2em;
        }

        button {
          right: 0px;
          width: 90%;
        }
      }

      .gallery1 {
        .image-gallery-content {
          align-items: center;

          .image-gallery-slide-wrapper {
            width: 90%;
          }

          .ThumbnailClass {
            height: 8rem;
            width: 8rem;
          }
        }
      }
    }

    .gallery2container {
      align-items: center;
      flex-direction: column;

      .txtDiv {
        margin-top: 5rem;
        align-items: center;
        position: static;
        width: 100%;

        p {
          width: 80%;
          padding: 2em;
        }

        button {
          right: 0px;
          width: 90%;
        }
      }

      .gallery2 {
        .image-gallery-content {
          align-items: center;

          .image-gallery-slide-wrapper {
            width: 90%;
          }

          .ThumbnailClass {
            height: 8rem;
            width: 8rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .galleryBox {
    .gallery1container {
      .txtDiv {
        span {
          font-size: 40px;
        }

        p {
          font-size: 15px;
          word-spacing: 7px;
        }

        button {
          font-size: 20px;
        }
      }
    }

    .gallery2container {
      .txtDiv {
        span {
          font-size: 40px;
        }

        p {
          font-size: 15px;
          word-spacing: 7px;
        }

        button {
          font-size: 20px;
        }
      }
    }
  }
}
