@import "~react-image-gallery/styles/scss/image-gallery.scss";

.galleryBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.gallery1 {
  margin-top: 2em;
}
.gallery2 {
  margin-top: 2em;
}
