.MainInfoLocationTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  img {
    width: 100%;
    max-height: 100%;
    height: auto;
    overflow: hidden;
    filter: brightness(0.5) opacity(0.9);
  }

  div {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;

    p {
    z-index: 2;
      font-weight: 600;
      text-align: center;
      color: white;
      font-size: 3em;
      padding-bottom: 1em;
    }
  }
}

//Tablets

@media screen and (min-width: 599px) and (max-width: 1023px) {
  // no need
}

//Phones

@media screen and (max-width: 599px) {
  .MainInfoLocationTitle {
    flex-direction: column-reverse;

    img {
      width: 100%;
    }
  }
}
