.MainInfoLocationTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("./img//uzdrowisko.jpg");
  // background-attachment: fixed;
  height: 100%;
  background-size: cover;
  // background-position-y: 20%;
  color: white;
  padding: 70px 0;

  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(63 53 36 / 7%); // Czarny kolor z 50% przezroczystością
    z-index: 1;
  }

  h2 {
    font-size: 40px;
    letter-spacing: 4px;
    z-index: 3;
    margin-bottom: 45px;
  }

  a {
    text-decoration: none;
  }

  .activity_icons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 25px;

    &-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        height: 100px;
        width: 100px;
        z-index: 3;
      }

      p {
        color: white;
        margin-top: 0;
        font-size: 18px;
        text-transform: uppercase;
        z-index: 3;
      }
    }
  }

  // div {
  //   align-items: center;
  //   display: flex;
  //   justify-content: center;
  //   position: absolute;

  //   p {
  //   z-index: 2;
  //     font-weight: 600;
  //     text-align: center;
  //     color: white;
  //     font-size: 3em;
  //     padding-bottom: 1em;
  //   }
  // }
}

//Tablets

@media screen and (min-width: 599px) and (max-width: 1023px) {
  // no need
}

//Phones

@media screen and (max-width: 599px) {
  .MainInfoLocationTitle {
    flex-direction: column-reverse;

    img {
      width: 100%;
    }
  }
}
