// mainInfoApartmentInfoImg {
//   display: flex;
// }
.mainInfoApartmentInfoImg {
  width: 100%;
  background-color: rgb(242, 235, 211);
  display: flex;
  align-items: center;
  padding: 50px 0 100px 0;
  color: #4a4339;

  .ourApartment {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    // background-color: rgb(176, 170, 151);
    height: 350px;
    position: relative;
    padding: 25px;
    // left: 78px;

    p {
      text-align: center;
      font-size: 16px;
      padding-bottom: 12px;
      // border-bottom: 2px orange solid;
    }

    p:first-of-type {
      font-size: 24px;
      border-bottom: 2px orange solid;
    }

    p:last-of-type {
      padding: 0 50px;
    }
  }

  img {
    width: 43%;
    max-height: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
  }

  .app-img {
    left: 5%;
    z-index: 3;

    &-second {
      top: 60px;
      right: 5%;
    }
  }
}

@media screen and (max-width: 599px) {
  .mainInfoApartmentInfoImg {
    flex-direction: column;
    padding: 0;

    .ourApartment {
      width: 100%;
      padding: 0px;

      p {
        text-align: center; //nothing for future
      }
    }

    img {
      width: 60%;
    }

    .app-img {
      left: -14%;
      z-index: 3;

      &-second {
        top: -120px;
        right: -14%;
      }
    }
  }
}
